<html>
<head>
    <title>Shopping Site</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/site.css"/>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Ubermelon</a>
            <div class="collapse navbar-collapse">
                <div class="navbar-nav">
                    <a class="nav-link" href="{{ url_for('all_melons' ) }}">All Melons</a>
                    <a class="nav-link" href="{{ url_for('show_shopping_cart') }}">Shopping Cart</a>
                    {% if "username" in session %}
                        <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                    {% else%}
                        <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>

  <div class="container">
    <div class="container">
        {% for message in get_flashed_messages() %}
            <P class="alert alert-warning">{{ message }} </P>
        {% endfor  %}
    </div>

    <!-- This is where the main content goes. -->
    {% block body %}
        BODY OF PAGE GOES HERE VIA INHERITANCE
    {% endblock %}

  </div>

</body>
</html>
